In [1]:
import pandas as pd

df = pd.read_csv('data/train.csv')

In [6]:
df

             image_id  label
0      1000015157.jpg      0
1      1000201771.jpg      3
2       100042118.jpg      1
3      1000723321.jpg      1
4      1000812911.jpg      3
...               ...    ...
21392   999068805.jpg      3
21393   999329392.jpg      3
21394   999474432.jpg      1
21395   999616605.jpg      4
21396   999998473.jpg      4

[21397 rows x 2 columns]

In [3]:
df.shape #not a method

(21397, 2)

In [4]:
df.info() #is a method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21397 entries, 0 to 21396
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   image_id  21397 non-null  object
 1   label     21397 non-null  int64
dtypes: int64(1), object(1)
memory usage: 334.5+ KB

In [5]:
pd.set_option('display.max_columns', 2) #can allows us to display as many columns as we want without getting cut off. not needed here for 2 columns

In [ ]:
#if a scheme file exists, load in that csv file and print it out. will be able to show all of the columns

In [7]:
df.head() #gives first 5 rows. can pass in an argument

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3

In [8]:
df.head(10)

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3
5  1000837476.jpg      3
6  1000910826.jpg      2
7  1001320321.jpg      0
8  1001723730.jpg      4
9  1001742395.jpg      3

In [9]:
df.tail()

            image_id  label
21392  999068805.jpg      3
21393  999329392.jpg      3
21394  999474432.jpg      1
21395  999616605.jpg      4
21396  999998473.jpg      4

In [10]:
df.tail(10)

            image_id  label
21387  997651546.jpg      3
21388  997857988.jpg      3
21389  997910101.jpg      2
21390  997973414.jpg      1
21391  998910982.jpg      1
21392  999068805.jpg      3
21393  999329392.jpg      3
21394  999474432.jpg      1
21395  999616605.jpg      4
21396  999998473.jpg      4

In [11]:
people = {
    "first": ["Corey", "Jane", "John"],
    "second": ["Schafer", "Doe", "Doe"],
    "email": ["bla@gmail.com", "x@yahoo.com", "y@yeet.com"]
}

In [12]:
people["email"] #a data frame is similar to a python dictionary but with additional functionalities

['bla@gmail.com', 'x@yahoo.com', 'y@yeet.com']

In [13]:
dfDictToDf = pd.DataFrame(people)

In [15]:
dfDictToDf #now, we can see the dictionary in row column format

   first  ...          email
0  Corey  ...  bla@gmail.com
1   Jane  ...    x@yahoo.com
2   John  ...     y@yeet.com

[3 rows x 3 columns]

In [17]:
#0 1 and 2 are indexes. unique value for a row
dfDictToDf["email"]

0    bla@gmail.com
1      x@yahoo.com
2       y@yeet.com
Name: email, dtype: object

In [19]:
df['image_id']

0        1000015157.jpg
1        1000201771.jpg
2         100042118.jpg
3        1000723321.jpg
4        1000812911.jpg
              ...
21392     999068805.jpg
21393     999329392.jpg
21394     999474432.jpg
21395     999616605.jpg
21396     999998473.jpg
Name: image_id, Length: 21397, dtype: object

In [20]:
type(df['image_id']) #series. 1d array. df is a container for many series

pandas.core.series.Series

In [22]:
df.image_id #this notation might cause an issue if there is a df attribute that is the same as the name of a column. [] is more universal

0        1000015157.jpg
1        1000201771.jpg
2         100042118.jpg
3        1000723321.jpg
4        1000812911.jpg
              ...
21392     999068805.jpg
21393     999329392.jpg
21394     999474432.jpg
21395     999616605.jpg
21396     999998473.jpg
Name: image_id, Length: 21397, dtype: object

In [23]:
df[['image_id', 'label']] #you can pass in a list too - this is a dataframe of two columns (in our case just our dataframe)

             image_id  label
0      1000015157.jpg      0
1      1000201771.jpg      3
2       100042118.jpg      1
3      1000723321.jpg      1
4      1000812911.jpg      3
...               ...    ...
21392   999068805.jpg      3
21393   999329392.jpg      3
21394   999474432.jpg      1
21395   999616605.jpg      4
21396   999998473.jpg      4

[21397 rows x 2 columns]

In [24]:
df.iloc[0] #iloc = integer location. can access rows by integers!

image_id    1000015157.jpg
label                    0
Name: 0, dtype: object

In [27]:
df.iloc[[0, 1]] #passes in a list. gets rows 0 and 1

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3

In [28]:
df.iloc[[0, 1], 1] #col 1 of rows 0 and 1

0    0
1    3
Name: label, dtype: int64

In [29]:
df.loc[0] #loc can search using labels to get a specific item

image_id    1000015157.jpg
label                    0
Name: 0, dtype: object

In [30]:
df.loc[[0,1]]

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3

In [31]:
df.loc[[0,1], "label"] #instead of passing in column number, we pass in name of column. you can have a list of columns too and it will return a df in the order of columns inputted

0    0
1    3
Name: label, dtype: int64

In [34]:
df.columns

Index(['image_id', 'label'], dtype='object')

In [36]:
df["image_id"]

0        1000015157.jpg
1        1000201771.jpg
2         100042118.jpg
3        1000723321.jpg
4        1000812911.jpg
              ...
21392     999068805.jpg
21393     999329392.jpg
21394     999474432.jpg
21395     999616605.jpg
21396     999998473.jpg
Name: image_id, Length: 21397, dtype: object

In [37]:
df["label"].value_counts() #displays number of each label!!!!!!

3    13158
4     2577
2     2386
1     2189
0     1087
Name: label, dtype: int64

In [39]:
df.loc[0:2, "image_id"] #slicing. inclusive of last value. similar to list slicing

0    1000015157.jpg
1    1000201771.jpg
2     100042118.jpg
Name: image_id, dtype: object

In [41]:
from PIL import Image

In [45]:
im = Image.open("data/train_images/1000015157.jpg")
im.show()

In [52]:
from numpy import asarray
data = asarray(im) #convert image to numpy array
print (type(data))
print (data.shape)

<class 'numpy.ndarray'>
(600, 800, 3)

AttributeError: 'Series' object has no attribute 'read'